  <section id="portfolio">
      <br><br><br><br><br>
      <!-- The Review Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div id="aboutModalbody" class="modal-content">
    <span class="close">&times;</span>
    <h1 id="poiNameText" align=center></h1><br>
    <h3>Rank: </h3> <output name="OutputName" id="OutputId">2</output>
    <input type="range" style="width: 50%;" name="InputName" id="InputId" min="0" max="5" step="0.1" value="2" oninput="OutputId.value = InputId.value">
    <br>
    <h3>Review: </h3>
    <textarea ng-model="rRev" id="reviewText" style="resize: none;" rows="4" cols="90" placeholder="Write description...">
      </textarea>

      <button id="reviewBtn">Send Review</button>
  </div>

</div>
    <div class="container">
      <div class="center">
        <div class="col-md-6 col-md-offset-3">
          <h2>Recommended For You</h2>
          <hr>
          <p class="lead">What do you feel like doing in a city where everything can be done?</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-lg-12">
        <ul class="portfolio-filter text-center">
            <li><a class="btn btn-default" ng-click="getCatPOI('All')" data-filter=".all">All Attractions</a></li>
          <li><a class="btn btn-default" ng-click="getCatPOI('Sights')" data-filter=".sight">Sights</a></li>
          <li><a class="btn btn-default" ng-click="getCatPOI('Museums')" data-filter=".museum">Museums</a></li>
          <li><a class="btn btn-default" ng-click="getCatPOI('Restaurants')" data-filter=".restaurant">Restaurants</a></li>
          <li><a class="btn btn-default" ng-click="getCatPOI('Shopping')" data-filter=".shopping">Shopping</a></li>
          <li><a class="btn btn-default" ng-click="openSearchBox()" >Search points</a></li>
        </ul>
        <!--/#portfolio-filter-->

        <div class="row">
          <div id="portfolio-items" class="portfolio-items">
            <div ng-repeat="poi in POIs" class={{poi.CategoryName}}>
              <div class="recent-work-wrap" ng-hide="detailsView">
                <img class="img-responsive" ng-src="{{poi.ImageURL}}" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h3><U ng-bind="poi.POIName"></U></h3>
                    <p ng-bind="poi.Description"></p>
                    <a ng-click="getPOIInfo(poi.POIName)" class="preview"><i class="fa fa-eye"></i>
                      View Details</a>
                      <a ng-hide="inSavedPOI(poi.POIName)" ng-click="savePOI(poi.POIName)" class="preview"><i class="fa fa-thumbs-up"></i>
                        Add to Favorites</a> 
                        <a ng-show="inSavedPOI(poi.POIName)" ng-click="removeFromList(poi.POIName)" class="preview"><i class="fa fa-thumbs-down"></i>
                          Remove From Favorites</a> 
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->
            <div id="information" ng-show="detailsView">
                <h1 align="center"><U>{{POIs.POIName}}</U></h1>
                <img class="img-responsive" ng-src="{{POIs.ImageURL}}" alt="">
                <h4 align="center">{{POIs.Description}}</h4><br>
                <h4>{{POIs.Rank}}</h4><h4>{{POIs.numOfViews}}</h4>
                <h4><U>Reviews:</U></h4>
                <h5 ng-hide="noReview">{{POIs.Reviews}}</h5><br><br>
                <h4 ng-show="noReview" id="noReviewBtn" class="preview" ><i class="fa fa-edit"></i>
                  No reviews yet!</h4> 
                  <br>
                  <input id="writeReview" type="button" ng-click="display_review_page(POIs.POIName)" value="Write Review"/>
              </div>
              
          </div>

          <div class="container" ng-hide="detailsView">
              <div class="center">
                <div class="col-md-6 col-md-offset-3">
                  <br><br><br>
                  <hr>
                  <h2>Saved Recently</h2>
                </div>
              </div>
          </div>
          <div id="portfolio-items" class="portfolio-items" ng-hide="detailsView">
              <h1 ng-hide="noPOiSaved">No points saved yet, start to save some!</h1>
              <div class={{POI1.CategoryName}}>
                <div class="recent-work-wrap">
                  <img class="img-responsive" ng-src="{{POI1.ImageURL}}" alt="">
                  <div class="overlay">
                    <div class="recent-work-inner">
                      <h3><U ng-bind="POI1.POIName"></U></h3>
                      <p ng-bind="POI1.Description"></p>
                      <a ng-click="getPOIInfo(POI1.POIName)" class="preview"><i class="fa fa-eye"></i>
                        View Details</a>
                      <a ng-hide="inSavedPOI(POI1.POIName)" ng-click="savePOI(POI1.POIName)" class="preview"><i class="fa fa-thumbs-up"></i>
                        Add to Favorites</a> 
                        <a ng-show="inSavedPOI(POI1.POIName)" ng-click="removeFromList(POI1.POIName)" class="preview"><i class="fa fa-thumbs-down"></i>
                          Remove From Favorites</a> 
                    </div>
                  </div>
                </div>
                
              </div>
              <!--/.portfolio-item-->

              <div id="portfolio-items" class="portfolio-items">
                  <div class={{POI2.CategoryName}}>
                    <div class="recent-work-wrap" ng-hide="detailsView">
                      <img class="img-responsive" ng-src="{{POI2.ImageURL}}" alt="">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h3><U ng-bind="POI2.POIName"></U></h3>
                          <p ng-bind="POI2.Description"></p>
                          <a ng-click="getPOIInfo(POI2.POIName)" class="preview"><i class="fa fa-eye"></i>
                            View Details</a>
                            <a ng-hide="inSavedPOI(POI2.POIName)" ng-click="savePOI(POI2.POIName)" class="preview"><i class="fa fa-thumbs-up"></i>
                              Add to Favorites</a> 
                              <a ng-show="inSavedPOI(POI2.POIName)" ng-click="removeFromList(POI2.POIName)" class="preview"><i class="fa fa-thumbs-down"></i>
                                Remove From Favorites</a> 
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <!--/.portfolio-item-->

        </div>
      </div>
    </div>
  </section>
  <!--/#portfolio-item-->
